
body{
    font-family: sans-serif;
    background-color: #ccc;
    width: 80%;
    margin: 0 10%;
}
h1{
    text-align: center;
    background-color: #0ca975c7;
    padding: 5px;
    margin-bottom: 0;
}
h3{
    margin-top: 25px;
    margin-bottom: 0;
}
.p1{
    text-align: center;
    font-size: 17px;
    background-color: rgb(4, 229, 75);
    padding: 0;
    margin-top: 0;
}
.sessao1{
    text-align: left;
    background-color: #9f9f9f;
    border-bottom: 5px solid blue;
    box-sizing: border-box;
    margin-top: 70px;
    padding: 13px 0;
}
b{
    color: blue;
}
li{
    list-style-position: inside;
    padding: 3px 0;
}
p{
    margin-top: 10px;
}
.sessao2{
    margin-top: 0;
}
ul{
    padding-left: 0;
    list-style-position: inside;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.menu{
    text-align: right;
}
.menu li{
    list-style: none;
    display: inline-block;
    padding: 0;
}
.menu a{
    background-color: #9e9c9c;
    padding: 16px;
    display: inline-block;
}
.menu a:hover{
    background-color: #fff;
}
.menu a:active{
    background-color: purple;
}